                      <h3 style="width: 100%; text-align: center; font-size: 1.8em; margin: 45px auto;">IN REAL LIFE ...</h3>

                    <div style="width: 50%; margin: 5% auto;" class="panel-body">
                 <p>   I'D JUST PUT THE CONTENT HERE. I WOULD, REALLY.</p>

<p> BUT SINCE IT'S A DEMO THAT INCLUDES SOME ROUTING STUFF, I CAN'T JUST MAKE IT THAT SIMPLE.</p>

<p>CHOOSE YOUR OWN ADVENTURE FROM ABOVE, OR GET OUTTA HERE.</p>
                    </div>


