################################################
###############  .gitignore   ##################
################################################

################################################
# Local Configuration
#
# Explicitly ignore files which contain:
#
# 1. Sensitive information you'd rather not push to
#    your git repository.
#    e.g., your personal API keys or passwords.
#
# 2. Environment-specific configuration
#    Basically, anything that would be annoying
#    to have to change every time you do a
#    `git pull`
#    e.g., your local development database, or
#    the S3 bucket you're using for file uploads
#    development.
#
################################################

config/local.js
.env
notes.txt
notes.md
sessions
sass
config/env
.sass-cache

################################################
# Dependencies
#
# When releasing a production app, you may
# consider including your node_modules and
# bower_components directory in your git repo,
# but during development, its best to exclude it,
# since different developers may be working on
# different kernels, where dependencies would
# need to be recompiled anyway.
#
# More on that here about node_modules dir:
# http://www.futurealoof.com/posts/nodemodules-in-git.html
# (credit Mikeal Rogers, @mikeal)
#
# About bower_components dir, you can see this:
# http://addyosmani.com/blog/checking-in-front-end-dependencies/
# (credit Addy Osmani, @addyosmani)
#
################################################

node_modules
bower_components
/vendor/assets/bower_components
*.bowerrc
bower.json
*/vendor
*/dependencies/
assets/examples
assets/images


################################################
# Sails.js / Waterline / Grunt
#
# Files generated by Sails and Grunt, or related
# tasks and adapters.
################################################
.tmp
dump.rdb
*.scss
*.css.map
config/
tasks/
bin/
_*.scss
sass/

################################################
# Node.js / NPM
#
# Common files generated by Node, NPM, and the
# related ecosystem.
################################################
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log



################################################
# Ruby /  Rails
#
# Common files generated by Ruby

################################################
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# Ignore pow environment settings
.powenv




################################################
# Miscellaneous
#
# Common files generated by text editors,
# operating systems, file systems, etc.
################################################
*~
*#
.DS_STORE
.netbeans
todo.md
nbproject
.editorconfig
.idea
*.sublime-project
*.sublime-workspace
.node_history

