<h1>Editing Creature</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-3">
<%= link_to 'Show', @creature %>
</div>
  <div class="col-sm-offset-1 col-sm-4">

<%= link_to 'Back', creatures_path %>
</div>
  </div>
